<div class="row text-center">
  <% values.forEach(function(item) { %>
    <div class="col-12 col-md-3 mb-2 mb-md-0">
      <div class="text-muted small"><%= item.label %></div>
      <div class="fw-bold text-nowrap"><%= item.value %></div>
    </div>
  <% }); %>
</div> 